
@import 'normalize.css';
@import './node_modules/react-big-calendar/lib/css/react-big-calendar.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  line-height: 1.5;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f7fafc;
}


