.add-event {
    background-color: #f9f9f9;

}

form {
    display: flex;
    flex-direction: column;
    padding: 4px 2rem;
    text-align: left;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.878);
    box-shadow: 0 4px 25px 2px #b4b4b480;
    z-index: 1000;
    border-radius: 3vw;
    border: 2px solid #444444;
    height: 37rem;
    width: 28%;
    min-width: 19rem;
}

form input {
    width: 100%;
    min-width: 4rem;
}

label {
    width: 14%;
    margin: 1px;
}

.address {
    display: flex;
}

.title {
    display: flex;
}

.category-public {
    display: flex;
}


.submit-button {
    all: unset;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px;
    background-color: #e0e0e0c4;
    color: rgb(44, 44, 44);
    cursor: pointer;
    box-shadow: 0 2px 20px 1px #7c7c7c29;
    width: 100%;
    align-self: center;
    border-radius: 8px;
    border: 1.5px solid #83838348;

}

.submit-button:hover {
    background-color: #d6d6d6c4;
    box-shadow: 0 3px 18px 1px #6b6b6b36;

}

.close-form {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    color: #292929;
}