
.add-event {
    background-color: #f9f9f9;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    padding: 3vw 11vw;
    text-align: left;
    gap: 1rem;
    background-color: rgba(245, 245, 245, 0.702);
    box-shadow: 0 4px 25px 2px #b4b4b469;
    position: fixed;
    bottom: 1.4vw;
    left: 16vw;
    right: 16vw;
    z-index: 999;
    border-radius: 8px;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

.address-input  {
    display: flex;
}

.address-input label {
    width: 19%;
    margin: 1px;
}

.input-title-tag {
    display: flex;
    /* flex-wrap: wrap;
    min-width: 2rem;
    max-width: 18rem; */
    justify-content: space-between;
    gap: 1vw;
}

.input-title-tag label {
    width: 14%;
    margin: 1px;
}

.input-title-tag div {
    width: 46%;
    display: flex;
    gap: 1px;
}

.input-title-tag div label {
    width: 1%;
    margin: 0;
    padding: 0;
}

form input {
    min-width: 4rem;
}



.input-time {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 1rem;
}

.input-time label {
    width: 14%;
    margin: 1px;
}

.submit-button {
    all: unset;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px;
    background-color: #e0e0e0c4;
    color: rgb(44, 44, 44);
    cursor: pointer;
    box-shadow: 0 2px 20px 1px #7c7c7c29;
    width: 100%;
    align-self: center;
    border-radius: 8px;
    border: 1.5px solid #83838348;
    
}

.submit-button:hover {
    background-color: #d6d6d6c4;
    box-shadow: 0 3px 18px 1px #6b6b6b36;

}

.close-form {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    color: #292929;
}